<% if @order_items.any? %>
  <ul class="collection with-header">
    <li class="collection-header"><h4>Cart</h4></li>
    <% @order_items.each do |item| %>
      <li class="collection-item" id="delete_item_<%= item.id %>">
      <%= item.product.name %>
      <span class="secondary-content"> Price: <%= number_to_currency item.product.price %><%= link_to order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"}, remote: true do%><i class="material-icons">delete</i><%end%></span>
      </li>
    <% end %>
  </ul>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
